body{
    color: #471779;
    background-color: #FFD166;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    display:inline;
    width: 500px;
    align-content:center;
    align-items: center;
    align-self: center;

    
    
}

.top{
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    justify-content: center;

}


h1 {
   text-align: center;
}
h2 {
    text-align: center;
}



iframe {
    margin-left: 25%;
    width: 50%;
    border-radius: 1rem;
    border-color: #EC6E3A;
    border-width: 10px;
}
iframe:hover {
    border-color: #00C91C;
}

p{
    text-align: center;
}

.best-moments {
    margin-left:none;
}